.container
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:2px ;

}
.movieList
{

  justify-content: flex-start;
  width: 300px;
  height: 300px;
  background-color: red;
  border: 2px solid ;

}
.odd{
  background-color: red;
}
.even{
  background-color: gray;
}
